.settings-panel {
    display: flex;
    margin: 10px 5px;
}

.settings-panel-item label {
    color: #eee;
}

.settings-panel-item {
    flex: 1 1 5em;
    min-height: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    background-color: #ccc;
    margin: 0 5px;
}