html, body, #root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f1f3f5;
}

#scanner {
    border: none !important;
}

#scanner__dashboard{
    display: none;
}

#scanner__scan_region {
    margin-bottom: -6px;
}